    <%- include('../partials/__header') -%>
    <div class="info">

      <h3>Skills information for: <em><%= skill.skill %></em></h3>
      <div class="description">
        <em><%= skill.description %></em>
      </div>
      <form class="center" action="/skills/<%= skill.id %>?_method=DELETE" method="POST">
        <input class="button center" type="button" value="Delete this skill">
      </form>
    </div>
    <%- include('../partials/__footer') -%>
